# Set the Time Zone of your Server
SetEnv TZ Asia/Singapore

# ServerAdmin:  This address appears on some server-generated pages, such as
# error documents. ServerSignature takes `On | Off | EMail'.
SetEnv SERVER_ADMIN arif.er@u.nus.edu
ServerSignature EMail

# Deny access to .org files
<Files ~ "\.org$">  
Order Allow,Deny
Deny from All
</Files>

# Return 404 NOT FOUND to hidden files and directories
RedirectMatch 404 /\..*$

# Temporary measure to redirect old homepage to new homepage
Redirect /~strings/index.htm /~strings/index.html