# Ignore everything
*

# Except this file
!.gitignore

# Except html and htm files
!public_html/
!**.htm*

# Except nusstyles
!public_html/style
!nusstyles*

# Except htaccess
!.htaccess*

# Except Org files
!*.org

# Except images in the resources directory
!*.jpg
!*.png

!public_html/resources
!public_html/resources/background
!public_html/resources/icons
!public_html/resources/members

# Except images in the archive directory
!public_html/archives
!public_html/archives/members