{{ range $section := . }}
    <h3 id="{{ $section.title }}">{{ $section.title }}</h3>
    {{ range $link := $section.links }}
        {{ if $link.url }}
            <li><a href="{{ $link.url }}">{{ $link.name }}</a></li>
        {{ else if $link.yt }}
            <li>{{ $link.name }}</li>
            <iframe width="560" height="315"
                    src="https://www.youtube.com/embed/{{ $link.yt }}"
                    title="{{ $link.name }}" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write;
                           encrypted-media; gyroscope; picture-in-picture;
                           web-share"
                    allowfullscreen>
            </iframe>
        {{ else }}
            <li>{{ $link.name }}
        {{ end }}
    {{ end }}
{{ end }}
