{{ range $member := sort . "weight" }}
    {{ $image_size := "90x120 webp" }}
    {{ if $member.square_image }}
        {{ $image_size = "150x150 webp q80" }}
    {{ end }}
    {{ with .image }}
        {{ with resources.Get . }}
            <div class="img-container">
                {{ with .Fit $image_size }}
                    <div class="image">
                        <img width="{{ .Width }}" height="{{ .Height }}"
                             alt="{{ $member.name }}" src={{ .RelPermalink }}>
                    </div>
                {{ end }}
                <div class="img-text" id="{{ $member.id }}">
                    <b>{{ $member.title }} {{ $member.name }}</b>
                    {{ with $member.office }}
                        <br>
                        {{ . }}
                    {{ end }}
                    {{ with $member.telephone }}
                        <br>
                        {{ $member.telephone }}
                    {{ end }}
                    {{ with $member.start }}
                        <br>
                        {{ . }} --
                        {{ with $member.left }}
                            {{ . }}
                        {{ end }}
                    {{ else }}
                        {{ with $member.left }}
                            <br>
                            (Graduated -- {{ . }})
                        {{ end }}
                    {{ end }}
                    {{ with $member.email }}
                        <br>
                        Email: <a href="mailto:{{ $member.email }}">
                            {{ $member.email }}</a>
                    {{ end }}
                    {{ with $member.website }}
                        <br>
                        <a href="{{ $member.website }}">{{ $member.website }}</a>
                    {{ end }}
                </div>
            </div>
        {{ else }}
            {{ errorf "The member partial was unable to find %q" .  }}
        {{ end }}
    {{ end }}
{{ end }}
